.button {
  -fx-font-size: 24px;
  -fx-pref-height: 64px;
  -fx-pref-width: 64px;
  -fx-background-radius: 45;

  -fx-background-repeat: no-repeat;
  -fx-background-size: 42px 42px;
  -fx-background-position: center; 

  -fx-max-height: 64.0;
  -fx-max-width: 64.0;
  -fx-min-height: 64.0;
  -fx-min-width: 64.0;
  -fx-pref-height: 64.0;
  -fx-pref-width: 64.0;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-translate-x: 2;
    -fx-translate-y: 2;
    -fx-background-insets: 0, 1, 2;
}

.white-button {
  -fx-font-family: "Gilroy-Medium";
  -fx-background-radius: 32;
  -fx-background-color: #E1EFFF;
}

.full-stop {
  -fx-background-image: url('icons/Full_Stop.png');
  -fx-content-display: graphic-only;  
  -fx-background-size: 24px 24px;
}

.percentage {
  -fx-background-image: url('icons/Percentage.png');
  -fx-content-display: graphic-only;  
}

.white-button:hover {
  -fx-background-color: #F1F7FF;
}

.white-button:pressed {
  -fx-background-color: #D1E6FF;
}


.blue-button {
  -fx-background-radius: 24;
  -fx-background-color: #89C0FF;
   
}

.divide {
  -fx-background-image: url('icons/Divide.png');
  -fx-content-display: graphic-only; 
}

.multiply {
  -fx-background-image: url('icons/Multiply.png');
  -fx-content-display: graphic-only;  
}

.subtract {
  -fx-background-image: url('icons/Subtract.png');
  -fx-content-display: graphic-only; 
}

.plus {
  -fx-background-image: url('icons/Plus.png');
  -fx-content-display: graphic-only;
}

.blue-button:hover {
  -fx-background-color: #5AA6FF;
}

.blue-button:pressed {
  -fx-background-color: #3F97FF;
}



.equals-button {
  -fx-background-radius: 24;
  -fx-background-color: #00DEC3;
  -fx-background-image: url('icons/Equal_Sign.png');
  -fx-content-display: graphic-only; 
}

.equals-button:hover {
  -fx-background-color: #1BEDC7;
}

.equals-button:pressed {
  -fx-background-color: #16D3B1;
}


.clear-button {
  -fx-background-radius: 24;
  -fx-background-color: #FD8383;
  -fx-background-image: url('icons/Clear_Symbol.png');
  -fx-content-display: graphic-only;
}

.clear-button:hover {
  -fx-background-color: #FF6868;
}

.clear-button:pressed {
  -fx-background-color: #FF4E4E;
}


.label {
  -fx-font-family: "Gilroy-Medium";
}